<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>xml loader</title>
    <link rel="stylesheet" href="style/style.css">
</head>

<body>
    <header class="header flex p1-2">
        <h2 class="header__title">Загрузка меню</h2>
        {{> menu}}
    </header>

    <main class="main p1-2 flex-column">  
      {{{ body }}}
    </main>
    {{> footer }}
</body>
</html>