body {
    margin: 0 auto;
}

.flex{
    display: flex;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

.padding-site{
    padding: 1rem 2rem;
}

.header{
    background-color: blueviolet;
    color: #fff;
}

.container{
}

.form-label__input,
.form-label__select{
    padding: .5rem 1rem;
    border: 2px solid #e5e5e5;
    outline: none;

    transition: border-radius .3s ease-in-out,
                border .3s ease-in-out;
}

.form-label__input:focus,
.form-label__select:focus{
    border-radius: 5px;
    border: 2px solid blueviolet;

}
.form-label,
.form-label__text
{
    margin: 0 0 1rem 0;
}

.btn{
    border: 1px solid blueviolet;
    outline: none;
    padding: .5rem 1rem;
    background-color: transparent;
    transition: border-radius .3s ease-in-out,
                border-color .3s ease-in-out,
                background-color .3s ease-in-out,
                color .3s ease-in-out,
                opacity .3s ease-in-out;
}

.btn:hover{
    border-radius: 5px;
    border-color: #fff;
    background-color: blueviolet;
    color: #fff;
}

.btn:active{
    opacity: .67;
}